@mixin flex_center($flex) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex;
}


$c-title: var(--title);
$c-subtitle: var(--subtitle);
@mixin text($size,$f-weight,$color) {
    font-family: var(--font-family);
    font-size: $size;
    font-weight: $f-weight;
    color:$color;
    text-align: center;
}