@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */

// imports do sass
@import './abstracts/reset';
@import './abstracts/placeholder';
@import './abstracts/mixin';

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);

    --font-family: 'Poppins', sans-serif;
    font-size: 64.2%;
}

body {
    width: 100%;
    height: 100vh;

    background: var(--background);
    background-repeat: no-repeat;
}
img {
    width: 100%;
    height: 100%;
}

.container {
    @extend %width_height;

    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 0px;


    .header {
        @include flex_center(column);

        @extend %width_height;

        margin-top: 5rem;

        .logo {
            width: 87px;
            height: 62px;
        }

        .text1 {
            font-family: var(--font-family);
            font-size: 4rem;
            font-weight: 700;
            color: var(--title);
            text-align: center;

            margin-top: 2rem;
        }
    }
}